<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>UserFilter</filter-name>
		<display-name>UserFilter</display-name>
		<description></description>
		<filter-class>com.gera.login.UserFilter</filter-class>
	</filter>
	<filter>
		<filter-name>JspFilter</filter-name>
		<display-name>JspFilter</display-name>
		<description></description>
		<filter-class>com.gera.login.JspFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AdminFilter</filter-name>
		<display-name>AdminFilter</display-name>
		<description></description>
		<filter-class>com.gera.login.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>*.user</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JspFilter</filter-name>
		<url-pattern>/success.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JspFilter</filter-name>
		<url-pattern>/view.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JspFilter</filter-name>
		<url-pattern>/view2.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JspFilter</filter-name>
		<url-pattern>/view3.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JspFilter</filter-name>
		<url-pattern>/view4.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JspFilter</filter-name>
		<url-pattern>/view5.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>*.admin</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/added.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/deleted.jsp</url-pattern>
	</filter-mapping>
		
	<listener>
		<listener-class>
			com.gera.login.HibernateInitContextListener
		</listener-class>
	</listener>
	
	<listener>
		<listener-class>
		com.gera.login.ServletContextListenerCookieSetter
		</listener-class>
	</listener>	
		
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<servlet-class>com.gera.login.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<servlet-class>com.gera.login.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InMessageSelector</servlet-name>
		<servlet-class>com.gera.message.InMessageSelector</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InMessageShower</servlet-name>
		<servlet-class>com.gera.message.InMessageShow</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>OutMessageSelector</servlet-name>
		<servlet-class>com.gera.message.OutMessageSelector</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OutMessageShower</servlet-name>
		<servlet-class>com.gera.message.OutMessageShow</servlet-class>
	</servlet>
		
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.gera.login.Main</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginsGetter</servlet-name>
		<servlet-class>com.gera.message.LoginsGetter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendMessage</servlet-name>
		<display-name>SendMessage</display-name>
		<description></description>
		<servlet-class>com.gera.message.SendMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddLogin</servlet-name>
		<display-name>AddLogin</display-name>
		<description></description>
		<servlet-class>com.gera.login.admin.AddLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteLogin</servlet-name>
		<display-name>DeleteLogin</display-name>
		<description></description>
		<servlet-class>com.gera.login.admin.DeleteLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteLoginFromBase</servlet-name>
		<display-name>DeleteLoginFromBase</display-name>
		<description></description>
		<servlet-class>com.gera.login.admin.DeleteLoginFromBase</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertLoginToBase</servlet-name>
		<display-name>InsertLoginToBase</display-name>
		<description></description>
		<servlet-class>com.gera.login.admin.InsertLoginToBase</servlet-class>
	</servlet>
			
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout.user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InMessageSelector</servlet-name>
		<url-pattern>/inMessageSelect.user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InMessageShower</servlet-name>
		<url-pattern>/inMessageShow.user</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>OutMessageSelector</servlet-name>
		<url-pattern>/outMessageSelect.user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OutMessageShower</servlet-name>
		<url-pattern>/outMessageShow.user</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/Main.user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginsGetter</servlet-name>
		<url-pattern>/writeLetter.user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMessage</servlet-name>
		<url-pattern>/SendMessage.user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddLogin</servlet-name>
		<url-pattern>/AddLogin.admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteLogin</servlet-name>
		<url-pattern>/DeleteLogin.admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteLoginFromBase</servlet-name>
		<url-pattern>/DeleteLoginFromBase.admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertLoginToBase</servlet-name>
		<url-pattern>/InsertLoginToBase.admin</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>